# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data - do NOT upload
data/*.xlsx
data/*.xls
data/*.csv

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db